In [13]:
import numpy as np 
import pandas as pd

In [14]:
train=pd.read_csv('Dataset/train.csv')
test=pd.read_csv('Dataset/test.csv')

In [15]:
train.head()

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate

In [16]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
id,76518.0,38258.500000,22088.988286,0.00,19129.250000,38258.500000,57387.750000,76517.000
Marital status,76518.0,1.111934,0.441669,1.00,1.000000,1.000000,1.000000,6.000
Application mode,76518.0,16.054419,16.682337,1.00,1.000000,17.000000,39.000000,53.000
Application order,76518.0,1.644410,1.229645,0.00,1.000000,1.000000,2.000000,9.000
Course,76518.0,9001.286377,1803.438531,33.00,9119.000000,9254.000000,9670.000000,9991.000
Daytime/evening attendance,76518.0,0.915314,0.278416,0.00,1.000000,1.000000,1.000000,1.000
Previous qualification,76518.0,3.658760,8.623774,1.00,1.000000,1.000000,1.000000,43.000
Previous qualification (grade),76518.0,132.378766,10.995328,95.00,125.000000,133.100000,140.000000,190.000
Nacionality,76518.0,1.226600,3.392183,1.00,1.000000,1.000000,1.000000,109.000
Mother's qualification,76518.0,19.837633,15.399456,1.00,1.000000,19.000000,37.000000,44.000
Father's qualification,76518.0,23.425076,14.921164,1.00,4.000000,19.000000,37.000000,44.000
Mother's occupation,76518.0,8.583196,17.471591,0.00,4.000000,7.000000,9.000000,194.000
Father's occupation,76518.0,8.882172,16.803940,0.00,5.000000,7.000000,9.000000,195.000
Admission grade,76518.0,125.363971,12.562328,95.00,118.000000,124.600000,132.000000,190.000
Displaced,76518.0,0.569265,0.495182,0.00,0.000000,1.000000,1.000000,1.000
Educational special needs,76518.0,0.003738,0.061023,0.00,0.000000,0.000000,0.000000,1.000
Debtor,76518.0,0.071382,0.257463,0.00,0.000000,0.000000,0.000000,1.000
Tuition fees up to date,76518.0,0.893646,0.308292,0.00,1.000000,1.000000,1.000000,1.000
Gender,76518.0,0.315821,0.464845,0.00,0.000000,0.000000,1.000000,1.000
Scholarship holder,76518.0,0.247393,0.431500,0.00,0.000000,0.000000,0.000000,1.000
Age at enrollment,76518.0,22.278653,6.889241,17.00,18.000000,19.000000,23.000000,70.000
International,76518.0,0.006626,0.081130,0.00,0.000000,0.000000,0.000000,1.000
Curricular units 1st sem (credited),76518.0,0.188871,1.175296,0.00,0.000000,0.000000,0.000000,20.000
Curricular units 1st sem (enrolled),76518.0,5.891516,1.671776,0.00,5.000000,6.000000,6.000000,26.000
Curricular units 1st sem (evaluations),76518.0,7.352362,3.508292,0.00,6.000000,7.000000,9.000000,45.000
Curricular units 1st sem (approved),76518.0,4.178520,2.687995,0.00,2.000000,5.000000,6.000000,26.000
Curricular units 1st sem (grade),76518.0,9.995862,5.264224,0.00,10.666667,12.166667,13.314286,18.875
Curricular units 1st sem (without evaluations),76518.0,0.057960,0.408490,0.00,0.000000,0.000000,0.000000,12.000
Curricular units 2nd sem (credited),76518.0,0.137053,0.933830,0.00,0.000000,0.000000,0.000000,19.000
Curricular units 2nd sem (enrolled),76518.0,5.933414,1.627182,0.00,5.000000,6.000000,6.000000,23.000
Curricular units 2nd sem (evaluations),76518.0,7.234468,3.503040,0.00,6.000000,7.000000,9.000000,33.000
Curricular units 2nd sem (approved),76518.0,4.007201,2.772956,0.00,1.000000,5.000000,6.000000,20.000
Curricular units 2nd sem (grade),76518.0,9.626085,5.546035,0.00,10.000000,12.142857,13.244048,18.000
Curricular units 2nd sem (without evaluations),76518.0,0.062443,0.462107,0.00,0.000000,0.000000,0.000000,12.000
Unemployment rate,76518.0,11.520340,2.653375,7.60,9.400000,11.100000,12.700000,16.200
Inflation rate,76518.0,1.228218,1.398816,-0.80,0.300000,1.400000,2.600000,3.700
GDP,76518.0,-0.080921,2.251382,-4.06,-1.700000,0.320000,1.790000,3.510

In [17]:
train.columns

Index(['id', 'Marital status', 'Application mode', 'Application order',
       'Course', 'Daytime/evening attendance', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 38 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   id                                              76518 non-null  int64
 1   Marital status                                  76518 non-null  int64
 2   Application mode                                76518 non-null  int64
 3   Application order                               76518 non-null  int64
 4   Course                                          76518 non-null  int64
 5   Daytime/evening attendance                      76518 non-null  int64
 6   Previous qualification                          76518 non-null  int64
 7   Previous qualification (grade)                  76518 non-null  float64
 8   Nacionality                                     76518 non-null  int64
 9   Mother's qualification                          76518 non-null  int64
 10  Father's qualification                          76518 non-null  int64
 11  Mother's occupation                             76518 non-null  int64
 12  Father's occupation                             76518 non-null  int64
 13  Admission grade                                 76518 non-null  float64
 14  Displaced                                       76518 non-null  int64
 15  Educational special needs                       76518 non-null  int64
 16  Debtor                                          76518 non-null  int64
 17  Tuition fees up to date                         76518 non-null  int64
 18  Gender                                          76518 non-null  int64
 19  Scholarship holder                              76518 non-null  int64
 20  Age at enrollment                               76518 non-null  int64
 21  International                                   76518 non-null  int64
 22  Curricular units 1st sem (credited)             76518 non-null  int64
 23  Curricular units 1st sem (enrolled)             76518 non-null  int64
 24  Curricular units 1st sem (evaluations)          76518 non-null  int64
 25  Curricular units 1st sem (approved)             76518 non-null  int64
 26  Curricular units 1st sem (grade)                76518 non-null  float64
 27  Curricular units 1st sem (without evaluations)  76518 non-null  int64
 28  Curricular units 2nd sem (credited)             76518 non-null  int64
 29  Curricular units 2nd sem (enrolled)             76518 non-null  int64
 30  Curricular units 2nd sem (evaluations)          76518 non-null  int64
 31  Curricular units 2nd sem (approved)             76518 non-null  int64
 32  Curricular units 2nd sem (grade)                76518 non-null  float64
 33  Curricular units 2nd sem (without evaluations)  76518 non-null  int64
 34  Unemployment rate                               76518 non-null  float64
 35  Inflation rate                                  76518 non-null  float64
 36  GDP                                             76518 non-null  float64
 37  Target                                          76518 non-null  object
dtypes: float64(7), int64(30), object(1)
memory usage: 22.2+ MB

In [19]:
train['Target'].unique()

array(['Graduate', 'Dropout', 'Enrolled'], dtype=object)

In [20]:
# finding min and max values of each column 
min_max_values = train.agg(['min', 'max']).T
min_max_values

                                                    min       max
id                                                    0     76517
Marital status                                        1         6
Application mode                                      1        53
Application order                                     0         9
Course                                               33      9991
Daytime/evening attendance                            0         1
Previous qualification                                1        43
Previous qualification (grade)                     95.0     190.0
Nacionality                                           1       109
Mother's qualification                                1        44
Father's qualification                                1        44
Mother's occupation                                   0       194
Father's occupation                                   0       195
Admission grade                                    95.0     190.0
Displaced                                             0         1
Educational special needs                             0         1
Debtor                                                0         1
Tuition fees up to date                               0         1
Gender                                                0         1
Scholarship holder                                    0         1
Age at enrollment                                    17        70
International                                         0         1
Curricular units 1st sem (credited)                   0        20
Curricular units 1st sem (enrolled)                   0        26
Curricular units 1st sem (evaluations)                0        45
Curricular units 1st sem (approved)                   0        26
Curricular units 1st sem (grade)                    0.0    18.875
Curricular units 1st sem (without evaluations)        0        12
Curricular units 2nd sem (credited)                   0        19
Curricular units 2nd sem (enrolled)                   0        23
Curricular units 2nd sem (evaluations)                0        33
Curricular units 2nd sem (approved)                   0        20
Curricular units 2nd sem (grade)                    0.0      18.0
Curricular units 2nd sem (without evaluations)        0        12
Unemployment rate                                   7.6      16.2
Inflation rate                                     -0.8       3.7
GDP                                               -4.06      3.51
Target                                          Dropout  Graduate

In [21]:
train['Total curricular units enrolled'] = train['Curricular units 1st sem (enrolled)'] + train['Curricular units 2nd sem (enrolled)']
train['Total curricular units evaluated'] = train['Curricular units 1st sem (evaluations)'] + train['Curricular units 2nd sem (evaluations)']
train['Total curricular units approved'] = train['Curricular units 1st sem (approved)'] + train['Curricular units 2nd sem (approved)']
train['Total curricular units without evaluations'] = train['Curricular units 1st sem (without evaluations)'] + train['Curricular units 2nd sem (without evaluations)']
train['Overall average grade'] = (train['Curricular units 1st sem (grade)'] + train['Curricular units 2nd sem (grade)']) / 2
# train['Approval ratio 1st sem'] = train['Curricular units 1st sem (approved)'] / train['Curricular units 1st sem (enrolled)']
# train['Approval ratio 2nd sem'] = train['Curricular units 2nd sem (approved)'] / train['Curricular units 2nd sem (enrolled)']
# train['Evaluation ratio 1st sem'] = train['Curricular units 1st sem (evaluations)'] / train['Curricular units 1st sem (enrolled)']
# train['Evaluation ratio 2nd sem'] = train['Curricular units 2nd sem (evaluations)'] / train['Curricular units 2nd sem (enrolled)']
train['Is financially stable'] = train['Tuition fees up to date'].apply(lambda x: 1 if x == 'Yes' else 0)
train['Is scholarship holder'] = train['Scholarship holder'].apply(lambda x: 1 if x == 'Yes' else 0)
train['Is international student'] = train['International'].apply(lambda x: 1 if x == 'Yes' else 0)
train['Economic difficulty'] = (train['Unemployment rate'] + train['Inflation rate']) / train['GDP']

test['Total curricular units enrolled'] = test['Curricular units 1st sem (enrolled)'] + test['Curricular units 2nd sem (enrolled)']
test['Total curricular units evaluated'] = test['Curricular units 1st sem (evaluations)'] + test['Curricular units 2nd sem (evaluations)']
test['Total curricular units approved'] = test['Curricular units 1st sem (approved)'] + test['Curricular units 2nd sem (approved)']
test['Total curricular units without evaluations'] = test['Curricular units 1st sem (without evaluations)'] + test['Curricular units 2nd sem (without evaluations)']
test['Overall average grade'] = (test['Curricular units 1st sem (grade)'] + test['Curricular units 2nd sem (grade)']) / 2
# test['Approval ratio 1st sem'] = test['Curricular units 1st sem (approved)'] / test['Curricular units 1st sem (enrolled)']
# test['Approval ratio 2nd sem'] = test['Curricular units 2nd sem (approved)'] / test['Curricular units 2nd sem (enrolled)']
# test['Evaluation ratio 1st sem'] = test['Curricular units 1st sem (evaluations)'] / test['Curricular units 1st sem (enrolled)']
# test['Evaluation ratio 2nd sem'] = test['Curricular units 2nd sem (evaluations)'] / test['Curricular units 2nd sem (enrolled)']
test['Is financially stable'] = test['Tuition fees up to date'].apply(lambda x: 1 if x == 'Yes' else 0)
test['Is scholarship holder'] = test['Scholarship holder'].apply(lambda x: 1 if x == 'Yes' else 0)
test['Is international student'] = test['International'].apply(lambda x: 1 if x == 'Yes' else 0)
test['Economic difficulty'] = (test['Unemployment rate'] + test['Inflation rate']) / test['GDP']

In [22]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
train['Target'] = encoder.fit_transform(train['Target'])

In [23]:
ytrain=train['Target']
Xtrain=train.drop(['Target','id'],axis=1)
testid=test['id']
Xtest=test.drop('id',axis=1)

In [24]:
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import HistGradientBoostingClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from catboost import CatBoostClassifier

# Define the base classifiers
lgbm = LGBMClassifier()
catboost = CatBoostClassifier(verbose=0)
xgboost = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
knn = KNeighborsClassifier(algorithm='auto', n_neighbors=7, p=1, weights='uniform')
hist_gbc = HistGradientBoostingClassifier()

# Define the voting classifier
voting_model = VotingClassifier(
    estimators=[
        ('lgbm', lgbm),
        ('catboost', catboost),
        ('xgboost', xgboost),
#         ('knn', knn),
        ('hist_gbc', hist_gbc)
    ],
    voting='soft'  
)

# Fit the model
voting_model.fit(Xtrain, ytrain)

# Make predictions
y_pred = voting_model.predict(Xtest)

ModuleNotFoundError: No module named 'lightgbm'

In [ ]:
y_pred = encoder.inverse_transform(y_pred)

In [ ]:
predictions = pd.DataFrame({'id': testid, 'Target': y_pred})
predictions.to_csv('submission.csv', index=False)